In [1]:
from fastai.vision import *

In [2]:
root = Path('../../LIP').resolve()

In [3]:
root.ls()

[PosixPath('/home/labs/waic/omrik/LIP/val_images'),
 PosixPath('/home/labs/waic/omrik/LIP/._.DS_Store'),
 PosixPath('/home/labs/waic/omrik/LIP/train_id.txt'),
 PosixPath('/home/labs/waic/omrik/LIP/parsing_annotations'),
 PosixPath('/home/labs/waic/omrik/LIP/val_id.txt'),
 PosixPath('/home/labs/waic/omrik/LIP/train_images'),
 PosixPath('/home/labs/waic/omrik/LIP/models'),
 PosixPath('/home/labs/waic/omrik/LIP/._TrainVal_pose_annotations.zip'),
 PosixPath('/home/labs/waic/omrik/LIP/pose_annotations'),
 PosixPath('/home/labs/waic/omrik/LIP/.DS_Store')]

In [4]:
!head {root / 'val_id.txt'}

100034_483681
10005_205677
100142_449784
10014_1211482
10024_490664
100396_1228208
100409_439507
100428_475255
100434_223573
100439_194787

In [5]:
val = root / 'val_id.txt'
with val.open() as f:
    print(len(f.readlines()))

10000

In [6]:
train = root / 'train_id.txt'
with train.open() as f:
    print(len(f.readlines()))

30462

In [7]:
ann_folder = root / 'pose_annotations'
ann_folder.ls()

[PosixPath('/home/labs/waic/omrik/LIP/pose_annotations/lip_val_set.csv'),
 PosixPath('/home/labs/waic/omrik/LIP/pose_annotations/vis_annotation.py'),
 PosixPath('/home/labs/waic/omrik/LIP/pose_annotations/train_no_pose.txt'),
 PosixPath('/home/labs/waic/omrik/LIP/pose_annotations/lip_train_set.csv'),
 PosixPath('/home/labs/waic/omrik/LIP/pose_annotations/README.md')]

In [8]:
train_ann = pd.read_csv(ann_folder / 'lip_train_set.csv', header=None)
train_ann.head()

,0,1,2,3,4,5,6,7,8,9,...,39,40,41,42,43,44,45,46,47,48
0,1000_1234574.jpg,32.0,196.0,0.0,33.0,163.0,0.0,31.0,115.0,0.0,...,0.0,70.0,47.0,0.0,82.0,68.0,0.0,71.0,87.0,0.0
1,100111_470108.jpg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,122.0,140.0,1.0,179.0,174.0,0.0,244.0,143.0,0.0
2,10012_1730659.jpg,82.0,272.0,0.0,71.0,206.0,0.0,67.0,126.0,0.0,...,0.0,16.0,60.0,0.0,12.0,111.0,0.0,4.0,154.0,0.0
3,10014_189863.jpg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,17.0,115.0,0.0,10.0,200.0,0.0,NaN,NaN,NaN
4,100159_1748699.jpg,14.0,270.0,0.0,18.0,205.0,0.0,14.0,133.0,0.0,...,0.0,80.0,61.0,0.0,87.0,113.0,0.0,77.0,154.0,0.0

In [9]:
train_ann.loc[:, 1:].isna().head()

,1,2,3,4,5,6,7,8,9,10,...,39,40,41,42,43,44,45,46,47,48
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,True,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,True,True,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [10]:
no_ann = train_ann.loc[:, 1:].isna().all(axis=1)
no_ann.head()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [11]:
train_ann[no_ann].head()

,0,1,2,3,4,5,6,7,8,9,...,39,40,41,42,43,44,45,46,47,48
191,104752_520291.jpg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,104973_471652.jpg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
274,107225_1319841.jpg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
355,110313_1301908.jpg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
382,111289_212921.jpg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
596 / 30462

0.01956536012080625

In [13]:
train_ann.loc[no_ann, 0].head()

191     104752_520291.jpg
196     104973_471652.jpg
274    107225_1319841.jpg
355    110313_1301908.jpg
382     111289_212921.jpg
Name: 0, dtype: object

In [14]:
train_ann.loc[no_ann, 0].to_csv(ann_folder / 'train_no_pose.txt', index=False, header=False)

In [15]:
!head {ann_folder / 'train_no_pose.txt'}

104752_520291.jpg
104973_471652.jpg
107225_1319841.jpg
110313_1301908.jpg
111289_212921.jpg
115465_490001.jpg
116735_444173.jpg
117302_191111.jpg
117389_441383.jpg
117417_1303979.jpg

In [16]:
no_ann = pd.read_csv(ann_folder / 'train_no_pose.txt', header=None, index_col=0).index
no_ann

Index(['104752_520291.jpg', '104973_471652.jpg', '107225_1319841.jpg',
       '110313_1301908.jpg', '111289_212921.jpg', '115465_490001.jpg',
       '116735_444173.jpg', '117302_191111.jpg', '117389_441383.jpg',
       '117417_1303979.jpg',
       ...
       '75372_2007982.jpg', '77415_2155358.jpg', '78381_530551.jpg',
       '78858_1221447.jpg', '80725_1209479.jpg', '83601_186519.jpg',
       '87027_435154.jpg', '87040_507315.jpg', '92301_439106.jpg',
       '95267_1721513.jpg'],
      dtype='object', name=0, length=596)

In [18]:
'104752_5202291.jpg' in no_ann

False